# Hive practice

Before practice please go through following 

[docks on hive](https://hive.apache.org/) 

[hive tutorials](https://sparkbyexamples.com/apache-hive-tutorial/)

In [1]:
#run the following code for hive fuction initialization

import subprocess 

def createFile(data):
    file = open("hive_script.hql",'w+')
    file.write(data)
    file.close()
    return file

def _hql(str):
    createFile(str)
    resulty = subprocess.run(['hive', '-f', "hive_script.hql"],stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    print(resulty.stderr.decode())
    print(resulty.stdout.decode())
    
#run hive queries like _hql("show tables")

##  Database operations

<hr style="border:3px solid #ADD8E6"> </hr>

List existing databases

In [2]:
_hql("show databases")

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.30.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = 259a4b72-3c4b-4c08-aaa8-c9b8606c948d

Logging initialized using configuration in jar:file:/usr/local/hive/lib/hive-common-3.1.2.jar!/hive-log4j2.properties Async: true
Hive Session ID = 14756376-d8d6-48ad-804d-c6d22076ee40
OK
Time taken: 1.073 seconds, Fetched: 1 row(s)

default

Create database you'll be working in with hdfs location specified

Describe database you've just created, describe extended option as well

**Can you see any differences?**

Alter database with 'creator' property and your name as a value

Run describe with different options once again

## Table operations

<hr style="border:3px solid #ADD8E6"> </hr>

With the help of standard bash commands explore csv file /usr/local/hive/data/starbucks-menu-nutrition-drinks.csv

 <ul>
  <li>print content of the file</li>
  <li>copy file to hdfs</li>
</ul> 

**Which delimiter is used?**

Create hive table with schema according to starbucks-menu-nutrition-drinks.csv named drinks

Load data to hive table created with inpath operation

<div class='alert alert-warning' role='alert' style='margin: 10px'>
<p>Inpath operation will move NOT copy the file !</p>
<p>Create a bck for original csv</p>
</div>


With the help of select check table content.

**Are there any artifacts?** --> think why it happened and can be edited

Truncate table

**What's the difference between truncate, delete and drop?**

Alter table with serde properties set SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe' WITH SERDEPROPERTIES (...) specifying delimiter and line ending

Reload data with inpath command

**Are there any artifacts left?**

Select first line, check wether it's correct

Alter table with TBLPROPERTIES aimimg to skip header as the first line

Create foods table

 <ul>
  <li>create external table for foods from  /usr/local/hive/data/starbucks-menu-nutrition-food.csv</li>
  <li>copy  starbucks-menu-nutrition-food.csv to location specified in  CREATE ... statement</li>
  <li>eliminate artifacts the same way</li>
</ul> 

**What's the difference between external and managed table?**
**What are the criteria to chose aone over another?**

Copy tables to your database with AS SELECT option 

Check data wasn't lost

## Data manipulation

<hr style="border:3px solid #ADD8E6"> </hr>

Add column 'type' with fixed value 'drink' for drinks table

<div class="alert alert-success">
  <strong>hint:</strong>Alter schema and use INSERT OVERWRITE command
</div>

**Is there a straightforward way to add filled columns to Hive?**

Create temporary table 'food_type' as following:

<table>
  <tr>
    <td>type</td>
  </tr>
      <tr>
    <td>food</td>
  </tr>
</table> 

Add column type to foods table using JOIN command


<div class='alert alert-warning' role='alert' style='margin: 10px'>
<p>You can reference temporary table only within same _hql(...) expression!</p>
<p>EXAMPLE:</p>
    <p>_hql("create  ....;\</p>
    <p>select ..;\</p>
    <p>select..")</p>
</div>


**Difference between temporary and ragular tables?**
**Why using temp table in another _hql() script won't work?**

Union drinks and foods table to 'drinks_and_snacks'

<div class="alert alert-info">
  <strong>task:</strong> use WITH command in union statement
</div>


<div class='alert alert-warning' role='alert' style='margin: 10px'>
<p>Don't drop original tables!</p>
</div>

**What's the difference between UNION and UNION ALL?**

Add id column to 'drinks_and_snacks' with value of line number 

<div class="alert alert-success">
  <strong>hint:</strong>use row_number() function
</div>

**What are window functions?**

Create table 'beverage_companies' with possible companies gathered from drinks table, with following structure

<table>
  <tr>
    <td>company</td>
    <td>items</td>
    <td>avg_calories</td>
  </tr>
     <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table> 

<div class="alert alert-success">
  <strong>hint:</strong>use substing functions to get only company name
</div>


**Name string functions?**
**What's the difference between aggregate and window functions?**
**Are NULLS treated correctly in aggregate functions?**

Add estimation column with values - 'higher', 'lower', 'avg' to 'drinks' table

This column will be filled only for itemes that have company from  'beverage_companies' in name

If the calories amount of an item is lower then 'avg_calories' add 'lower', if higher then 'higher ...

 
<div class="alert alert-success">
  <strong>hint:</strong>use JOIN nad CASE statement
</div>


**What are different types of JOIN?**

Alter table 'drinks_and_snacks' - add partition on 'type' field

**What's the difference between bucketing and partitioning in hive?**
**What physically represents partition?**

Create 'ref_drinks' table with the following content:


<table>
  <tr>
    <td>value</td>
    <td>calories</td>
    <td>fat</td>
    <td>carb</td>
    <td>fiber</td>
    <td>protein</td>
    <td>sodium</td>
  </tr>
   <tr>
    <td>max</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
       <tr>
    <td>min</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
       <tr>
    <td>avg</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td> 
  </tr>
</table> 

<div class="alert alert-success">
  <strong>hint:</strong>extensively use subqueries and with command. You can use multiple temp tables if it's more convenient
</div>


**What Hive statements allow subquery use?**

## **quizzes on hive** 

[check yourself_p.1](https://data-flair.training/blogs/apache-hive-online-practice-test/)

[check yourself_p.2](https://www.tutorialspoint.com/hive/hive_questions_answers.htm)