<img src="/static/images/hdr.png" align="center">

# SPARK SQL: Лабораторная работа

<hr style="border:2px solid #460073"> </hr>

<h3 style="color: #460073">Практические материалы</h3>

<div style="color:#b455aa; text-align: right"> Версия 1.0 от 10 октября 2021</div>

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = (
    SparkSession
    .builder
    .master("local")
    .appName("lab_spark_sql"<логин>)
    .getOrCreate()
)

## One-liners

Создайте датафрейм (`createDataFrame()`) с данными о летних месяцах:

    6, s, June
    7, s, July
    8, s, August

Назовите колонки

* month_no
* season_id
* month_name

In [ ]:
monthDf = ...

Проверьте схему (`printSchema()`)

Зарегистрируйте его как view months (`createOrReplaceTempView()`)

Создайте датафрейм времен года:

    w, winter
    p, spring
    s, summer
    a, autumn

Назовите колонки

* id
* season_name

In [ ]:
seasonDf = ...

Зарегистрируйте его как view seasons (`createOrReplaceTempView()`)

**Все дальнейшее делайте с помощью метода .sql()**

Добавьте в информацию о месяцах название сезона (join)

Добавьте к `months` строку 

    1, w, January

Сколько месяцев представлено в `months` для каждого сезона?

Какие сезоны не представлены в `months`?

Выдайте список месяцев в порядке убывания id сезона

**Задача 1**

Problem 3.2

Data Description:

* All the product records are stored at /data/cca175_data/products
* All the category records are stored at /data/cca175_data/categories
* Data is in text format, fields are separated by comma

Products Schema:

    product_id              int                                         
    product_category_id     int                                         
    product_name            string                                      
    product_description     string                                      
    product_price           double                                      
    product_image           string

Categories Schems:

    category_id              int
    category_group_id        int
    category_name            string

Output Requirements:

* Get maximum product_price in each product_category
* Get minimum product_price in each product_category
* Get average product_price in each product_category
* Output data should contain columns category_name,max_price,min_price,avg_price
* Show output on the console

In [ ]:
productDf = (
    spark
    .read
    .format("csv")
    .option("inferSchema","true")
    .load("/data/cca175_data/products")
)

In [ ]:
catDf = (
    spark
    .read
    .format("csv")
    .option("inferSchema","true")
    .load("/data/cca175_data/categories")
)

**Задача 2**

**Problem 3.6**

Data Description:

* All the Order records are stored at /data/cca175_data/orders
* All the Order Items records are stored at /data/cca175_data/order_items
 
Orders Schema:

* order_id                int   
* order_date              string
* order_customer_id       int   
* order_status            string

Order_items Schema:

* order_item_id           int           
* order_item_order_id     int           
* order_item_product_id   int           
* order_item_quantity     tinyint       
* order_item_subtotal     double        
* order_item_product_price        double

Output Requirements:

* Get average revenue per day
* Get all the orders which are more than average
* Round order_revenue and avg_revenue to 2 decimal places
* order_date should be in format yyyy-MM-dd
* Output should only contain order_date, order_id, order_revenue, avg_revenue

Show output on the screen.

**НЕ ЗАБУДЬТЕ** остановить спарк сессию!

In [ ]:
spark.stop()

<a id="theend"></a>
<hr style="border: 3px solid #460073"> </hr>

<div style="text-align: left"><img src="/static/images/logo.png" style="width:3%;" align="left"></div>
<div style="text-align: right"> © Accenture. All rights reserved</div>